In [ ]:
import numpy as np

**The array gives result without commas, whereas List give results with commas.**

In [ ]:
x= np.array([1,2,3,4])
print(x)

[1 2 3 4]

In [ ]:
myList= [1,2,3,4]
print(myList)

[1, 2, 3, 4]

In [ ]:
print(type(x))
print(type(myList))

<class 'numpy.ndarray'>
<class 'list'>

**Use %timeit to find the execution time for a statement**

In [ ]:
%timeit [j**4 for j in range(1,9)]

2.77 µs ± 354 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
%timeit np.arange(1,9)**4

4.66 µs ± 243 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

**The append function is used to add value, In this case it moves to the next position in list after taking an input.**

In [ ]:
listValues=[]
for i in range(1,5):
  getInputValue= int(input("Enter the value: "))
  listValues.append(getInputValue)
print(listValues)

Enter the value: 323
Enter the value: 32
Enter the value: 3223
Enter the value: 3232
[323, 32, 3223, 3232]

**"{:.2f}".format means result upto two decimal figues**

In [ ]:
temperatures= np.array([10,20,30,40])
average_temp= np.mean(temperatures)
print("Temperature over the week:" +str(temperatures))
print("Average temperature over the week: " + "{:.2f}".format(average_temp))

Temperature over the week:[10 20 30 40]
Average temperature over the week: 25.00

**"inventory[:,1]" selects all the values of first column only**